* {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
  width: 540px;
  background-color: rgb(42, 234, 255);
}

main {
  width: 540px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

main .left-sidebar, main .right-sidebar {
  width: 100px;
  height: 100%;
}

main .left-sidebar {
  background-color: rgb(254, 165, 0);
}

main .content {
  width: 300px;
  height: 100%;
  background-color:rgb(254, 0, 0);
  position: relative;
}

main .content .black-box {
  height: 50px;
  width: 50px;
  position: absolute;
  right:20px;
  bottom: 20px;
  background-color: black;
}

main .right-sidebar {
  background-color:rgb(129, 0, 127);
}

footer {
  height: 100px;
  width: 540px;
  background-color: rgb(0, 0, 254);
}