<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
</head>
<body>
  <section>
    <p>Book list</p>
    <% results.forEach(item => {%>
      <p><%=item.book_name %></p>
    <%})%>
  </section>
</body>
</html>