* {
  margin:0;
  padding:0;
}

body{
  margin:25px;
}

h1 {
  color: rgb(5, 0, 245);
  margin-bottom: 35px;
}

h2 {
  color: rgb(234, 163, 21);
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

.main-list > li {
  color:rgb(5, 0, 245);
}

ul, .main-list .sub-list{
  margin-left: 40px;
}

.main-list .sub-list {
  color:black;
}

.fruit-list li:nth-child(1) {
  color:red;
}