* {
  margin: 0;
  padding: 0;
}

.container {
  margin:4px auto 12px 4px;
  width: 700px;
  height: 100px;
  padding:0px;
  border: 2px rgb(66, 133, 244) solid;
  display: flex;
  justify-content: center;
  align-items:center;
}

/* .container .inner-wrapper {
  padding: 25px;
  width:100%;
} */
.container .box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin:0 auto;
}

.box:nth-child(1) {
  margin-left: 24px;
}

.box:nth-child(10) {
  margin-right: 24px;
}

.container:nth-child(1) .box {
  background-color: rgb(66, 133, 244);
}

.container:nth-child(2) {
  background-color: rgb(225, 99, 71);
}

.container:nth-child(2) .box {
  background-color: rgb(100, 53, 121);
}